*{
    padding: 0;
    margin: 0;
    color: black;
}

a{
    text-decoration: none;

}

.logo{
    
    margin: 200px;
    margin-right: 600px; 
}

.navbar{
    background-color: white;
    height: 90px;
    color: black;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0px;
    width: 100%;
    opacity: 0.8;
}

#item{
    margin-left:30px;

}

#first-btn {
    background-color: #1cbfff;
    color: white;
    height: 30px;
    width: 250px;
    word-spacing:10px ;
    position: relative;
    left: 1260px;
    top: -60px;
    
}
.footer1{
    background-color: white;
    opacity: 0.8;
    height: 90px;
    width: 100%;
    font-size: large;
    position: absolute;
    bottom: -3px;
}

p{
    
    position: relative;
    margin: 35px;

}

#box{
    height: 100vh;
    width: 100%;
    background-color: red;
    background-image: url(/pic/billboard.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.flex-container{
    text-align: center;
    /* border: 2px solid black; */
    height: 500px;
    width: 1000px;
    margin-left: 250px;
    padding-top: 50px;
    background-color: whitesmoke;

  
}


.flexbox{
    /* border: 2px solid black; */
    height: 120px;
    width: 120px;
  
}

.flex-item{
    display: flex;
    justify-content: space-around;
    
}

.para{
    /* border: 2px solid black; */
    height: 100px;
    width: 220px;
    margin-left: -50px;
    margin-top: 20px;
}

.img-column{
    height: 250px;
    width: 100%;
    /* border: 2px solid black; */
    background-image: url(/pic/us5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.flex-container2{
    text-align: center;
    /* border: 2px solid black; */
    height: 500px;
    width: 1000px;
    margin-left: 250px;
    padding-top: 50px;
    background-color:whitesmoke;
}

.flex-item2{
    display: flex;
    justify-content: space-around;
    padding-top: 70px;
}



.client-1{
    border-radius: 50%;
    height: 120px;
    width: 120px;
}

.flexbox2-single{
    /* border: 2px solid black; */
    border-radius: 50%;
    height: 120px;
    width: 120px;
     background-image: url(/pic/client3\(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    
}

.Brand-part-1{
    /* border: 2px solid black; */
    margin: 0px 1px;
    padding-left: 3px;
    /* height: 80px; 
    width: 100%; 
      background-image: url("/pic/client_logo\(1\).png"); 
     background-repeat: repeat; 
     background-position: center; */
}

.flex-container3{
    /* border:2px solid black; */
    height: 400px;
    width: 100%;
    background-color: #333333;
}

#last-btn{
        background-color: #1cbfff;
        color: white;
        height: 30px;
        width: 250px;
        word-spacing:10px ;
}

.heading{
   /* border: 2px solid black; */
   height: 60px;
   width: 800px;
   margin-left: 380px;
   background-color: #595959;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

li{
    list-style: none;
}

.flex-item3{
    display:flex;
    justify-content: space-around;
    margin-top: 70px;
    background-color: #333333;
    
}

i{
    font-size: 1.3rem;
}

#last-line {
    text-align: center;
    background-color: #333333;
    color: white;
}